body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.head {
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    color:rgb(157, 92, 174);
}

.center {
    text-align: center;
    color:rgb(157, 92, 174);
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
                max-width: 800px;
                margin: 0 auto;
                color: rgb(127,230,158);
                font-family: sans-serif;
                padding-top: 70px;
                padding-left:50px;
                padding-right: 50px;
            }
