body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.head {
    font-size: 300%;
    text-align: center;
    font-weight: bold;
    color:rgb(157, 92, 174);
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

